// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;


// Brand colors
// -------------------------

@brand-primary:         #870909;

@brand-success:			#6bc26b;
@brand-warning:			#0d1394;
@brand-danger:			#6feaf2;
@brand-info:			#e8863f;

// Typography
@font-family-sans-serif: 	"pragmatica-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:			"sorts-mill-goudy", Georgia, "Times New Roman", Times, serif;

@headings-font-family:		@font-family-serif;


// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";

// Navbar default
@grid-float-breakpoint:			   @screen-sm-max;
@navbar-default-color:             #fff;
@navbar-default-bg:                black; //@brand-primary;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

// Navbar links
@navbar-default-link-color:                #fff;
@navbar-default-link-hover-color:          #eee;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         #fff;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:           #ddd;
@navbar-default-toggle-icon-bar-bg:        #888;
@navbar-default-toggle-border-color:       #ddd;

@navbar-margin-bottom:						0px;

.jumbotron {
	margin-bottom: 0px;
	@media (max-width: @screen-xs-max) {
		height: 200px;
	}
	@media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
	    height: 400px;
  	}
  	@media (min-width: @screen-lg-min){
	  	height: 600px;
  	}
  	header {
	  	display: inline-block;
	  	padding: 15px;
	  	color: white;
	  	background-color: fade(@brand-primary, 50%);
	  	//max-width: @
	  	* {
		  	margin: 0px;
	  	}
  	}
}

#nav-home.affix {
	position: fixed;
	top: 0;
	width: 100%;
}

header, .footer-brand {
	h1, h2, h3, h4, h5, h6 {
		font-family:  "trajan-pro-3", @font-family-serif;
	}
}


// make sure the home jumbotron has no space above the navbar, but that may be taken care off with margin-bottom up top
.home {
	.jumbotron {
		margin-bottom: 0px;
		header {
			background-color: transparent;
			@media (max-width: @screen-xs-max) {
				background-color: fade(@brand-primary, 50%);
			}
		}
		h1, h2, h3, h4, h5, h6, p {
			color: white;
		}
		p {
			//font-family: @font-family-serif;
			font-size: @font-size-h4;
		}
	}
	.dcwss.dc-wall.col-4 .stream li {
		@media (max-width: @screen-xs-max) {
			width: 100%;
		}
	}
}

// squared off buttons
.btn-rectangle {
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border: none;
}

.content {
	margin-top: 15px;
}

// Style the school name in the navbar
.navbar-brand {
}


// Jumbotron arrow down http://cssarrowplease.com
.arrow-jumbo-primary {
	position: relative;
	background: @brand-primary
}
.arrow-jumbo-primary:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: @brand-primary;
	border-top-color: @brand-primary;
	border-width: 30px;
	margin-left: -30px;
}

// Make it so that the dropdowns don't expand stuff wider
b.caret {
	margin-right: -10px;
}

.entry-content {
	img {
		max-width: 100%;
		height: auto;
	}
}

article {
	header {
		.jumbotron {
			a {
				color: white;
			}
		}
	}
}

footer {
	padding-bottom: @font-size-base;
	color: white;
	background-color: black;
	h6 {
		text-align: center;
	}
	.footer-brand img {
		height: 75px;
		width: 75px;
	}
	.brand {
		margin-top: 0px;
		margin-bottom: 0px;
		a{
			color: white;
		}
		a:hover {
			color: darken(white, 15%);
			text-decoration: none;
		}
		h6 {
			text-align: left;
		}
	}
	.brand-contact p {
		font-size: 125%;
	}
	a {
		color: white;
	}
	p, .brand-link {
		font-size: @font-size-small;
		margin-bottom: 0px;
	}

	ul.social {
		list-style-type: none;
		li {
			display: inline;
			padding-right: @font-size-base;
		}
		a {
			display: inline-block;
			text-align: center;
			color: black;
			background-color: white;
			height: 2*@font-size-large;
			width: 2*@font-size-large;
			i {
				display: inline-block;
				padding-top: (@font-size-large - @font-size-base)*1.5;
				font-size: 2*@font-size-base;
				vertical-align: middle;
			}
		}
		.popover {
			color: black;
			a {
				display: inline;
			}
			ul {
				list-style: none;
				padding-left: 0;
			}
			li {
				display: list-item;
			}
		}
	}
	ul.navbar-footer {
	   list-style-type: none;
	   li {
	   	display: inline;
	   	padding-right: @font-size-base;
	   }
	}
}

aside {
	margin-bottom: @font-size-base;
}

.content {
	iframe {
		max-width: 100%;
	}
}
